{% extends 'ledger/base_ledger.html' %}
{% load static %}
    {%block title%}Recipe Book | {{recipe.name}} {%endblock%}
    {% block content %}
    <h2>{{recipe.name}}</h2>
    {% if object.task_image %}
        <img src="{{ recipe.image.url }}" alt="recipe.image.description">
    {% endif %}
    <h3>Recipe by {{recipe.author.name}}</h3>
    <ul>
        {%for ingredient in recipe.ingredients.all%}
        <li>{{ingredient.quantity}} {{ingredient.ingredient.name}}</li>
        {%endfor%}
    </ul>
{% endblock %}